@{
    ViewData["Title"] = "Tillgänglighetsredogörelse";
}
<h1>@ViewData["Title"]</h1>

<!-- Accessibility -->
<div id="access">
    <p>Beatrice Abrahamsson står bakom den här webbplatsen. Jag vill att så många som möjligt ska kunna använda den. Det här dokumentet beskriver hur webbplatsen uppfyller lagen om tillgänglighet till digital offentlig service, eventuella kända tillgänglighetsproblem och hur du kan rapportera brister till oss så att vi kan åtgärda dem.</p>
    <h4>Hur tillgänglig är webbplatsen?</h4>
    <p>Vi har inga kända brister i tillgängligheten för den här webbplatsen.</p>
    <h4>Vad kan du göra om du inte kan använda delar av webbplatsen?</h4>
    <p>Om du behöver innehåll från webbplatsen som inte är tillgängligt för dig, men som är undantaget från lagens tillämpningsområde enligt beskrivning nedan, kan du kontakta oss.
    <p>Du kan också kontakta oss på följande sätt:</p>
    <ul>
        <li>skicka e-post till <a href="mailto:beab2100@student.miun.se">beab2100@student.miun.se</a></li>
        <li>ring till 070 691 87 83</li>
    </ul>
    <h4>Hur tillgänglig är webbplatsen?</h4>
    <p>Vi strävar hela tiden efter att förbättra webbplatsens tillgänglighet. Om du upptäcker problem som inte är beskrivna på den här sidan, eller om du anser att vi inte uppfyller lagens krav, kontakta oss så att vi får veta att problemet finns.</p>
    <h4>Tillsyn</h4>
    <p>Myndigheten för digital förvaltning har ansvaret för tillsyn över lagen om tillgänglighet till digital offentlig service. Om du inte är nöjd med hur vi hanterar ditt påpekande om bristande webbtillgänglighet eller din begäran om tillgängliggörande av innehåll kan du <a href="https://www.digg.se/tdosanmalan">anmäla till Myndigheten för digital förvaltning</a>.</p>
    <h4>Teknisk information om webbplatsens tillgänglighet</h4>
    <p>Den här webbplatsen är helt förenlig med lagen om tillgänglighet till digital offentlig service.</p>
    <h4>Hur vi testat webbplatsen</h4>
    <p>Vi har gjort en självskattning (intern testning) av webbplatsen</p>
</div>
