@{
    ViewData["Title"] = "Startsida";
}

<!-- Jumbotron -->
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Beatrice Abrahamsson</h1>
        <p class="lead text-muted">Mitt namn är Beatrice och jag läser till webbutvecklare på Mittuniversitetet. Detta är min portfolio där ni kan ta del av projekt som jag skapat under utbildningen samt se mitt CV.</p>
        <p>
            <a class="btn btn-primary my-2" asp-area="" asp-controller="Home" asp-action="Projects">Se alla projekt</a>
            <a href='~/file/CV.pdf' class="btn btn-secondary my-2" download>Ladda ner mitt CV</a>
        </p>
    </div>
</section>

<!-- Projects -->
<h2 class="display-4"> Mina projekt</h2>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <partial name="_CardPartial" />
       </div>
     </div>
</div>

