@{
    ViewData["Title"] = "Projekt";
    ViewData["Action"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumbs -->
<partial name="_BreadcrumbsPartial" />

<!-- Projects -->
<h2 class="display-4"> Projekt</h2>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <partial name="_CardPartial" />
       </div>
     </div>
</div>