@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personlig Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ditt konto innehåller personlig data som du gett oss. På denna sida kan du ladda ner eller ta bort denna data.</p>
        <p>
            <strong>Om du tar bort denna data kommer ditt kontot att permanent raderas.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Ladda ner</button>
        </form>
        <br />
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Ta bort</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
